*{
  box-sizing: border-box;
}
body{
  margin:0;
  padding:0 ;
}
.navbar{
  background-color: aquamarine;
  text-align: center;
}
.logo{
  width:200px;
  padding: 20px;
}
.boards-container{
  display: flex;
  padding: 100px;
  flex-wrap: wrap;
}
.link-decoration{
  text-decoration: none;
}

.lists-container{
  display: flex;
  padding-right: 100px;
  overflow: auto;
  height:92vh;
  background-color:cadetblue;
}